/* Général */
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Body + Google font */
body{
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    font-family: Merienda one, sans-serif;
}
/* Nav + google font */
.navbar-brand{
    font-size: 25px;
    font-family: Nunito sans, sans-serif;
}
/* Header image + titre  */
header{
    background: url('img/accueil.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    font-size: 90px;
    color: #f1f1f1;
    font-weight: 700;
    color: rgba(250, 249, 249, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

/* Section Présentation */
.presentation {
    margin: 30px ;
    
}
#texte1{
    font-size: 0.9rem;
}
/* Section card */
.card{
     margin-top: 5px;
     background: #f1f1f1;
     margin-bottom: 20px;
}
.card-img-top{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}
h5{
    margin: 20px;
}
/* Footer */
footer{
    bottom:0;
    color: #f1f1f1;
    }
#bouton{
        margin-left: 40px;
}
/* (Page Event) */
/*Font-size card + modal  */
.card-text, p {
    font-size: 0.8rem;
    text-align: center;
}
/* Parallax  en dessous de 990px */ 
  @media screen and (max-width: 990px) {
    header {
    background: url('img/accueil.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    }
 }
   