/* Général */
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    font-family: Merienda one, sans-serif;
}
/* Nav */
.navbar-brand{
    font-size: 25px;
    font-family: Nunito sans, sans-serif;
}
#navbarCollapse a {
    font-size: 20px;
}
/* Header */
header{
    background: url('img/img\ accueil.jpg');
    background-position: center;
    background-size: cover;
    height:80vh;
    position: relative;
}
.text-intro{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.preTxt{
    font-size: 15px;
    margin-bottom: 50px;
    color: #e7a854;
    background-color: black;
}
@media screen and (max-width: 990px) {
    .preTxt {
     visibility:hidden;
    }
   }

h1{
    font-size: 90px;
    color: #f1f1f1;
    font-weight: 700;
    color: rgba(250, 249, 249, 0.4);
}
h2{
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 40px;
    background-color: rgb(249, 250, 250);
    font-size: 50px;
}
/* Section Activités */
.card{
    
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: none;
    margin-top: 5px;
    background: #f1f1f1;
    margin: 35px 0px 35px 0px;

           
}
.card-img-top{
    
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    margin-bottom: 10px;

}
/* Formulaire */
form{
    margin: 20px;
    
    
}
h2{
    text-align: center;
}
a.btn.btn-dark{
  margin-top: 10px;
    
}